<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matches.fitness">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.match.app.MyApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.match.app.ui.login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.match.app.ui.home.activity.MainActivity" />
        <activity android:name="com.match.app.ui.home.activity.SearchActivity" />
        <activity android:name="com.match.app.ui.home.activity.FilterActivity" />
        <activity android:name="com.match.app.ui.home.activity.SelectGymActivity" />
        <activity android:name="com.match.app.ui.redpacket.activity.BalanceActivity" />
        <activity android:name="com.match.app.ui.redpacket.activity.CashPledgeActivity" />
        <activity android:name="com.match.app.ui.redpacket.activity.RedPacketActivity" />
        <activity android:name="com.match.app.ui.redpacket.activity.RoomCardActivity" />
        <activity android:name="com.match.app.ui.settings.SettingsActivity" />
        <activity android:name="com.match.app.ui.settings.AccountsActivity" />
        <activity android:name="com.match.app.ui.settings.ChangePwdActivity" />
        <activity android:name="com.match.app.ui.login.RegisterActivity" />
        <activity android:name="com.match.app.ui.login.InfoPrefectActivity" />
        <activity android:name="com.match.app.ui.login.PasswordResetActivity" />
        <activity android:name="com.match.app.ui.login.AgreementActivity" />
        <activity android:name="com.match.app.ui.info.ModifyActivity" />
        <activity android:name="com.match.app.ui.info.OtherPersonInfoActivity" />
        <activity android:name="com.match.app.ui.im.ConversationListActivity" />
        <activity android:name="com.match.app.ui.im.ChatActivity" />
        <activity android:name="com.match.app.ui.im.ContactsListActivity"
            />
        <activity android:name="com.match.app.ui.login.DateChoiceActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.matches.fitness.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>